<div class="row justify-content-center my-3">
    <div class="col-8">
        <input type="text" #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista..">
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col my-1" *ngFor="let artista of artistas">
        <div class="card bg-dark">
            <img [src]="artista.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{artista.name}}</h5>
            </div>
        </div>
    </div>
</div>