<app-loading *ngIf="activo"></app-loading>
<div *ngIf="!activo" class="row justify-content-center animated fadeIn">
    <div class=" col-9 position-relative divpadre">
        <img class="d-block opacity-50" [src]="artista.images | noimage" style="width: 100%; height: max-content; margin-top: -50px;">
        <div class="position-absolute bottom-0 mb-4 ms-5">
            <p class="mb-2" style="font-size: 86px; line-height: 86px; font-weight: 900; letter-spacing: -.04em;">{{artista.name}}</p>
            <p>{{artista.followers.total | number}} oyentes mensuales</p>
        </div>
        <div class="position-absolute top-0 mt-2 ms-2 p-1 btn btn-dark rounded-circle text-center" style="width: 40px; height: 40px; line-height: 40px;" (click)="backNavigation()">
            <span class="material-icons">navigate_before</span>
        </div>
    </div>
</div>
<div class="row mt-2 justify-content-center">
    <div class="col-9">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td><img src="{{track.album.images | noimage}}" width="70px" height="70px"></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td><audio [src]="track.preview_url" controls></audio></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>